body{
    font-family:arial;
    margin:0;
    padding:30px;
    color:rgb(231, 229, 229);
    background-color:rgb(18, 39, 228)
}
h1{
    text-align:center;
    margin-top:30px;
    color:#00f7ff;
}
h3{
    color:rgb(34, 205, 71);
    margin: 20px 0;
}
.para1{
    margin:0 30px;
    text-indent: 20px;
    word-spacing: 1px;
    line-height:1.5;
}
.main{
    margin: 0 30px;
}
.main ol{
    line-height: 1.5;
}
.main table{
    width: 100%;
    line-height: 1.5;
}
.main table tr th{
    background-color: aqua;
    color: red;
    padding: 5px;
}
